#game{
    width: 600px;
    height: 200px;
    border-bottom: 1px black solid;
    margin: auto;
    }
    #dino{
        width: 60px;
        height: 60px;
        position: relative;
        top:140px;
    }
    #d{
        width: 60px;
        height: 60px;
    }
    #cactus{
    width: 30px;
    height: 40px;
    background-image: url('cactus.jpeg');
    background-size: 30px 40px;
    position: relative;
    top:100px;
    left: 560px;
    animation: cactusMove 2s infinite linear;
    }
    @keyframes cactusMove {
    0%{left:580px}
    100%{left:-10px}
    }
    .jump{
    animation: jump 0.6s linear;  
    }
    @keyframes jump {
    0%{top:140px}
    40%{top:60px}
    50%{top:20px}
    60%{top:60px}
    100%{top:140px}
    }
    /* #button{
    position: relative;
    top:500px;
    left: 50%;
    }
    #score{
    position: relative;
    top:70%;
    left:50%;
    } */
#ch{
width: 50px;
height: 30px;
}
#chayka{
position: relative;
top:60px;
left: 300px;
animation: chaykaMove 5s infinite linear;
}
@keyframes chaykaMove {
0%{left:830px}
100%{left:-10px}
}
#instruction{
position: absolute;
top: 600px;
left: 500px;
}